<form method="post" action="{{ path('partenaires_delete', {'id': partenaire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partenaire.id) }}">
    <button class="btn button_supp_event mt-2 mr-3" >
        <img src="{{ asset('/build/images/supprimer.svg') }}" class="button_supp_miniature"  alt="Supprimer">
    </button>
</form>
