 <div class="future_events">
        <p class=" font-weight-bold">Evènements à venir</p>
        <div class="evenements">
            <div class="card border-danger" style="max-width: 18rem;">
                <div class="card-body">
                    <h6 class="card-title text-success">Atelier fruitier au verger</h6>
                    <p class="card-text font-italic text-right">Samedi 29 février, de 14h à 17h</p>
                    <p class="card-text">C'est bientôt la fin de l'hiver, nous vous proposons un atelier de taille des
                        pommiers.</p>
                    <p class="card-text text-right"><a href="#" class="card-link text-info">M'inscrire</a></p>
                </div>
            </div>
            <div class="card border-danger" style="max-width: 18rem;">
                <div class="card-body">
                    <h6 class="card-title text-success">Atelier initiation à l'apiculture</h6>
                    <p class="card-text font-italic text-right">Dimanche 6 mars, de 14h à 17h</p>
                    <p class="card-text">L'association organise une initiation à l'apiculture pour les adhérents.</p>
                    <p class="card-text text-right"><a href="#" class="card-link text-info">M'inscrire</a></p>
                </div>
            </div>
            <div class="card border-danger" style="max-width: 18rem;">
                <div class="card-body">
                    <h6 class="card-title text-success">Atelier initiation à l'apiculture</h6>
                    <p class="card-text font-italic text-right">Dimanche 6 mars, de 14h à 17h</p>
                    <p class="card-text">L'association organise une initiation à l'apiculture pour les adhérents.</p>
                    <p class="card-text text-right"><a href="#" class="card-link text-info">M'inscrire</a></p>
                </div>
            </div>
        </div>
    </div>