{% extends 'base.html.twig' %}
{% block title %}Politique Cookies - Igny Vallée Comestible{% endblock %}

{% block content %}
    <div class="">
        <h1>Notre Politique de Cookies</h1>

        <div class="politiquecookies">
            <h2>Politique de cookies</h2>
            <p>
                Les Sites utilisent des cookies. Vous trouverez ci-dessous des informations relatives
                aux cookies et à la manière de les limiter.

                Lors de la navigation sur les Sites, des cookies sont implantés dans votre ordinateur.
                Un cookie ne nous permet pas de vous identifier. En revanche, il enregistre des informations
                relatives à la navigation de votre ordinateur sur notre site
                (les pages que vous avez consultées, la date et l'heure de la consultation, etc.) que nous
                pourrons lire lors de vos visites ultérieures.

                En utilisant les Sites, vous acceptez l’utilisation de cookies conformément à la présente
                politique. Si vous n’acceptez pas l’utilisation de ces cookies, veuillez les désactiver en
                suivant les instructions ci-dessous.
            </p>
        </div>
        <div class="questioncookie">
            <h2>Qu’est ce qu’un cookie ?</h2>
            <p>
                Les cookies sont des fichiers textes contenant de faibles quantités d’informations qui sont
                téléchargés sur votre ordinateur ou votre appareil mobile quand vous visitez un site Internet.
                A chaque visite ultérieure, les cookies sont renvoyés au site Internet d’origine, ou à un
                autre site Internet qui reconnait le cookie. Les cookies sont donc utiles car ils permettent
                à un site Internet de reconnaitre l’appareil de l’utilisateur.

                Les cookies remplissent différentes fonctions, comme par exemple vous permettre de naviguer
                efficacement entre les différentes pages, sauvegarder vos préférences et en général améliorer
                votre expérience d'un site Internet.

                Pour plus d’information sur les cookies, notamment sur la manière de voir les cookies qui ont
                été installés sur votre appareil et savoir comment les gérer et les supprimer, visitez la
                page <a href="http://www.allaboutcookies.org/fr/">http://www.allaboutcookies.org/fr/</a>
            </p>
        </div>

        <div class="utilisationcookie">
            <h2>Pourquoi utilisons-nous des cookies ?</h2>
            <p>
                Notre site utilise des cookies afin de vous différencier du reste de nos visiteurs.
                Nous utilisons des cookies afin de vous garantir la meilleure expérience de navigation
                possible. Grâce aux cookies, nous pouvons améliorer notre site web et rendre vos sessions
                de navigation plus agréables. Les cookies sont définis lorsque vous effectuez des actions
                différentes sur notre site. Par exemple, certains d’entre eux sont utilisés lorsqu’un
                utilisateur ouvre notre site, d’autres sont activés lorsque vous effectuez certaines actions.
                Par exemple, cela peut être « aimer » notre contenu ou le partager sur les médias sociaux.
            </p>
        </div>

        <div class="cookiesutilise">
            <h2>Quels cookies utilisons-nous sur le Site ?</h2>
            <p>
                Ceci est la liste complète des cookies que nous utilisons sur nos sites :
            </p>
            <p><strong>Cookies strictement nécessaires</strong> – utilisés pour faire fonctionner notre site web à des fins techniques. </p>
            <p><strong>Cookies analytiques / de performance</strong>– utilisés pour recueillir des informations générales sur les utilisateurs qui accèdent à notre site, ainsi que leur comportement lors de la navigation sur nos pages Web. Cela nous aide à
                améliorer les performances de notre site. Par exemple, les cookies de performance nous aident à rendre différents contenus plus trouvables. Toutes les informations sont 100% anonymes.</p>
            <p><strong>Cookies de fonctionnalité</strong>– utilisés pour vous découvrir, lorsque vous revenez sur notre site. En utilisant ces informations, nous pouvons vous fournir une expérience de navigation plus personnalisée. Par exemple, vous
                remarquerez que nous vous
                saluons par votre nom, en enregistrant vos préférences (comme la langue, la région, l’emplacement et le nom du compte). En outre, nous pouvons vous fournir des suggestions sur les articles qui correspondent à vos préférences. Dès que vous vous
                inscrivez sur notre site ou que vous remplissez l’un des formulaires fournis, nous utilisons des cookies pour mémoriser vos coordonnées lors de la visite en cours et de toutes les visites suivantes (à condition que les cookies ne soient pas
                supprimés). Nous n’utilisons pas de cookies pour suivre le comportement des visiteurs sur d’autres sites.</p>

            <p><strong>Cookies ciblés</strong>– utilisés pour enregistrer des informations sur votre visite sur notre site Web, ainsi que sur les actions que vous avez effectuées en navigant sur ses pages. Cela inclut le suivi des liens que vous avez suivis
                et les pages que
                vous avez visitées. Les informations respectives seront utilisées à des fins publicitaires. Nous afficherons les annonces les plus pertinentes selon vos préférences. S’il vous plaît continuez à lire plus loin pour voir plus de détails sur ce
                type
                de cookies, ainsi que comment désactiver.</p>
        </div>

        <div class="questioncookie">
            <h2>Puis-je désactiver les cookies ? Comment ?</h2>
            <p>
                Vous pouvez activer et désactiver les cookies dans les paramètres de votre navigateur. Visitez le <a href="https://tools.google.com/dlpage/gaoptout">site</a> pour savoir comment désactiver le suivi par Google Analytics sur tous les sites Web
                que vous visitez.
            </p>
            Si vous êtes basé en Europe, visitez <a href="www.youronlinechoices.eu">www.youronlinechoices.eu</a> pour plus de détails sur les cookies publicitaires et leur gestion.
            </p>
            <p>
                Si vous êtes situé aux États-Unis, reportez-vous à <a href="www.aboutads.info/choices/">www.aboutads.info/choices/</a>.
            </p>
            <p>
                Visitez <a href="www.allaboutcookies.org/manage-cookies">www.allaboutcookies.org/manage-cookies</a> afin d’activer / désactiver les cookies.
                Si vous souhaitez obtenir plus de détails sur les méthodes de gestion des cookies, consultez le <a href="https://ico.org.uk/your-data-matters/online/cookies/">site Web</a> du Bureau du Commissaire à l’information du Royaume-Uni.
            </p>
        </div>

        <div class="gestioncookiesnavigateurPC">
            <h2>Comment gérer les cookies dans les navigateurs Web sur PC ?</h2>
            <p>
                Suivez ces instructions pour activer les cookies dans vos navigateurs Web.
            </p>
            <h3>Google Chrome</h3>
            <ol>
                <li>
                    Naviguez vers le haut de la fenêtre du navigateur. Cliquez sur “Outils” > “Paramètres”.
                </li>

                <li>
                    Choisissez “Afficher les paramètres avancés”. Faites défiler jusqu’à ce que vous atteignez la section “Confidentialité”, choisissez “Paramètres de contenu”.
                </li>

                <li>
                    Cliquez sur “Autoriser le paramétrage des données locales”, pour accepter les cookies propriétaires, sélectionnez “Bloquer tous les cookies tiers sans exception”.
                </li>
            </ol>

            <h3>Microsoft Internet Explorer</h3>
            <ol>
                <li>
                    Naviguez vers le haut de la fenêtre du navigateur. Cliquez sur “Outils” et choisissez “Options Internet”. Cliquez sur l’onglet “Confidentialité” en-dessous.</li>

                <li>
                    Pour utiliser les cookies dans votre navigateur, le niveau de votre vie privée doit être défini sur Moyen ou Inférieur. </li>

                <li>
                    En le plaçant au-dessus du niveau moyen, les cookies ne seront pas utilisés. </li>
            </ol>

            <h3>Mozilla Firefox</h3>
            <ol>
                <li>
                    Choisissez “Outils” en haut de la fenêtre du navigateur. Sélectionnez “Options”.</li>

                <li>
                    Cliquez sur l’icône “Confidentialité”.</li>

                <li>
                    Sélectionnez “Cookies” et cliquez sur “Autoriser les pages à créer un cookie”.</li>
            </ol>

            <h3>Safari</h3>
            <ol>
                <li>
                    Trouvez l’icône d’engrenage en haut de la fenêtre du navigateur. Choisissez “Paramètres”. </li>

                <li>
                    Cliquez sur l’onglet “Confidentialité” et choisissez “Désactiver l’utilisation des cookies par des tiers et des cookies publicitaires.”</li>


                <li>
                    Cliquez sur “Enregistrer”. </li>
            </ol>

            <h3>Microsoft Internet Explorer</h3>
            <ol>
                <li>
                    Trouvez l’icône d’engrenage en haut de la fenêtre du navigateur. Choisissez “Paramètres”.
                <li>
                    Cliquez sur l’onglet “Confidentialité” et choisissez “Désactiver l’utilisation des cookies par des tiers et des cookies publicitaires.”
                <li>
                    Cliquez sur “Enregistrer”.</li>
            </ol>
        </div>

        <div class="gestioncookiesnavigateurMac">
            <h2>Comment gérer les cookies sur votre Mac ?</h2>
            <p>Tenez compte des étapes suivantes pour activer les cookies sur notre site Web. </p>

            <h3>Microsoft Internet Explorer sur OSX</h3>
            <ol>
                <li>
                    Trouvez “Explorer” en haut de votre navigateur. Choisissez “Paramètres”.</li>

                <li>
                    Dans les “Fichiers reçus”, faites défiler jusqu’à la section “Cookies”.</li>

                <li>
                    Cliquez sur “Ne pas demander”. </li>
            </ol>

            <h3>Google Chrome</h3>
            <ol>
                <li>
                    Naviguez vers le haut de la fenêtre du navigateur. Cliquez sur “Outils” > “Paramètres”.
                </li>

                <li>
                    Choisissez “Afficher les paramètres avancés”. Faites défiler jusqu’à ce que vous atteignez la section “Confidentialité”, choisissez “Paramètres de contenu”.
                </li>

                <li>
                    Cliquez sur “Autoriser le paramétrage des données locales”, pour accepter les cookies propriétaires, sélectionnez “Bloquer tous les cookies tiers sans exception”.
                </li>
            </ol>

            <h3>Microsoft Internet Explorer</h3>
            <ol>
                <li>
                    Naviguez vers le haut de la fenêtre du navigateur. Cliquez sur “Outils” et choisissez “Options Internet”. Cliquez sur l’onglet “Confidentialité” en-dessous.</li>

                <li>
                    Pour utiliser les cookies dans votre navigateur, le niveau de votre vie privée doit être défini sur Moyen ou Inférieur. </li>

                <li>
                    En le plaçant au-dessus du niveau moyen, les cookies ne seront pas utilisés. </li>
            </ol>

            <h3>Mozilla Firefox</h3>
            <ol>
                <li>
                    Choisissez “Outils” en haut de la fenêtre du navigateur. Sélectionnez “Options”.</li>

                <li>
                    Cliquez sur l’icône “Confidentialité”.</li>

                <li>
                    Sélectionnez “Cookies” et cliquez sur “Autoriser les pages à créer un cookie”.</li>
            </ol>

            <h3>Safari</h3>
            <ol>
                <li>
                    Naviguez vers le haut de la fenêtre du navigateur. Cliquez sur “Outils” et choisissez “Options Internet”. Cliquez sur l’onglet “Confidentialité” en-dessous.</li>

                <li>
                    Pour utiliser les cookies dans votre navigateur, le niveau de votre vie privée doit être défini sur Moyen ou Inférieur. </li>

                <li>
                    En le plaçant au-dessus du niveau moyen, les cookies ne seront pas utilisés. </li>
            </ol>

            <h3>Microsoft Internet Explorer</h3>
            <ol>
                <li>
                    Trouvez l’icône d’engrenage en haut de la fenêtre du navigateur. Choisissez “Paramètres”.
                <li>
                    Cliquez sur l’onglet “Confidentialité” et choisissez “Désactiver l’utilisation des cookies par des tiers et des cookies publicitaires.”
                <li>
                    Cliquez sur “Enregistrer”.</li>
            </ol>
        </div>

        <div class="desactivationcookie">
            <h2>Quels sont les résultats de la désactivation des cookies ?</h2>
            <p>
                Désactivant les cookies nécessaires au bon fonctionnement du site Web, la page Web ne se
                chargera pas non plus. Ce sont les cookies qui sont destinés à améliorer votre expérience de
                navigation sur le site.
            </p>

            <p>
                En désactivant les cookies qui mémorisent vos préférences ou vos analyses, nous ne serons pas
                en mesure de vous fournir les informations pertinentes. Si vous désactivez tous les cookies
                (y compris les cookies essentiels), vous ne pourrez pas accéder à toutes les parties de notre
                site. Cependant, la désactivation des cookies ne désactivera pas les balises Web et autres
                trackers. Cependant, la fonctionnalité des balises Web sera limitée.
            </p>
        </div>

        <div class="desactivationcookie">
            <h2>Changements à la Politique</h2>
            <p>
                Nous pouvons apporter des modifications à la politique de confidentialité de temps en temps.
                Cela peut se produire à la suite des changements apportés à la loi ou à la suite des changements
                apportés à nos services. Tous ces changements seront ajoutés à cette déclaration.
                Alors, vérifiez de temps en temps.
            </p>
        </div>

        <div class="desactivationcookie">
            <h2>Contactez nous</h2>
            <p>
                Si vous avez des questions ou des préoccupations concernant la façon dont TemplateMonster
                utilise des cookies et des technologies de suivi, alors n’hésitez pas à nous contacter sur
                <a href="mailto:privacy@ingyvallee.com?subject=privacy">privacy@ingyvallee.com</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block rightside %}
    {{ include('form/_formContact.html.twig') }}
{% endblock %}

{% block leftside %}
    {{ include }}
{% endblock %}