{% extends 'base.html.twig' %}
{% block title %}Plan du site - Igny Vallée Comestible{% endblock %}

{% block content %}
    <div class="">
      Plan du site à remplir
    </div>
{% endblock %}


{% block rightside %}
  {{ include('form/_formContact.html.twig') }}
{% endblock %}
