{% extends 'base.html.twig' %}

{% block title %}Un email vous a été envoyé pour réinitialiser votre mot de passe {% endblock %}

{% block content %}
    <p>Un email contenant le lien de réinitialisation du mot de passe vous a été envoyé. Ce lien ne sera disponible que pendant {{ tokenLifetime|date('g') }} heure(s).</p>
    <p>Si vous n'avez pas reçu ce mail, regarder dans le dossier des courriers indésirables ou <a href="{{ path('app_forgot_password_request') }}">réésayez</a>.</p>
{% endblock %}
