{% extends 'base.html.twig' %}

{% block content %}
    <div class="jumbotron-img jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">activite jardin</h1>
            <p class="lead">TO DO : A lot of things</p>
        </div>
    </div>
{% endblock %}

{% block rightside %}
  {{ include('form/_formContact.html.twig') }}
{% endblock %}
