<form method="post" action="{{ path('taches_delete', {'id': tach.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette tâche ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tach.id) }}">
    <button class="btn button_supp_event mt-2 mr-3" >
        <img src="{{ asset('/build/images/supprimer.svg') }}" class="button_supp"  alt="Supprimer">
    </button>
</form>
