<h3>Un visiteur a cherché à prendre contact </h3>

<p>
Le visiteur a rempli le formulaire de contact du site.
</p>

<p>
Ses informations :
<ul>
  <li> {{ nom }} </li>
  <li> {{ email }}</li>
</ul>
</p>

<p>
Voici son message :
</p>
<p>
{{ message|raw }}
</p>
