<h3>Bonjour {{ prenom }} {{ nom }} ! </h3>

<p>
L'association <strong>Igny Vallée Comestible</strong> a examiné votre demande
d'adhésion mais il se trouve que les informations que vous avez fournies ne sont
pas valides. Veuillez refaire une demande d'adhésion avec des informations valides
afin que notre équipe puisse à nouveau examiner votre demande.
</p>
<p>
Vous pouvez faire une nouvelle demande d'adhésion à l'adresse suivante: </br>
http://igny-box/registration
</p>

<p>Nous espérons avoir une nouvelle demande d'adhésion très prochainement !</p>

L'équipe d'Igny Vallée comestible,
