<h3>Bonjour {{ prenom }} {{ nom }} ! </h3>

<p>
L'association <strong>Igny Vallée Comestible</strong> est heureuse
de vous annoncer votre demande d'adhésion a été revue et validée par un des
membres du bureau. Vous faites maintenant partie de l'association en tant
qu'adhérent. Félicitation !
</p>
<p>
Vous pouvez maintenant vous connecter avec les identifiants que vous nous avez
fournis lors de la demande d'adhésion. </br>
Voici le lien pour vous connecter : http://igny-box/login
</p>

<p>Encore merci de faire partie de notre association.</p>
<p>Nous espérons vous voir rapidement !</p>

L'équipe d'Igny Vallée comestible,
